body{
    width: 100vw;
    height: 100vh;
    margin: 0px;

    background: linear-gradient(to top, #000000, #000000, #333333, #333333);
    background-size: cover;
    background-size: 100% 1px;
}


.window{
    display: block;
    width: 40vw;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: black;
    border-radius: 10px;
}

.windowbar{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    cursor: move;
}